/* Header */

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  /* position: fixed
  z-index: 20; */
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

/* Navigation */

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: #000000;
}

/* Main Container */

.main {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.main div {
  border: 1px solid black;
}
